<ul class="nav-mobile-elements">
  <div class="logo" style="color: #fff">Logo</div>
  <span class="spacer"></span>
  <div class="links-container">
    <a routerLink="/" (click)="toggleDrawer()">Home</a>
    <a routerLink="/" (click)="toggleDrawer()">Artisanat</a>
    <a routerLink="/" (click)="toggleDrawer()">Patisserie</a>
    <a routerLink="/" (click)="toggleDrawer()">Epicerie</a>
    <a routerLink="/" (click)="toggleDrawer()">Promos</a>
    <a routerLink="/" (click)="toggleDrawer()">Livraison</a>
  </div>
</ul>
