<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="primary" disabled>Basic disabled</button>
<mat-divider></mat-divider>

<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button disabled>Disabled</button>
<mat-divider></mat-divider>

<button mat-stroked-button>Basic</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button disabled>Disabled</button>
<mat-divider></mat-divider>

<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button disabled>Disabled</button>
<mat-divider></mat-divider>

<button mat-icon-button>
  <mat-icon>more_vert</mat-icon>
</button>

<button mat-icon-button color="primary">
  <mat-icon>home</mat-icon>
</button>

<button mat-icon-button color="accent">
  <mat-icon>menu</mat-icon>
</button>

<button mat-icon-button color="warn">
  <mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button disabled>
  <mat-icon>open_in_new</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon>delete</mat-icon>
</button>
<mat-divider></mat-divider>

<button mat-fab color="primary">
  <mat-icon>delete</mat-icon>
</button>

<button mat-fab color="accent">
  <mat-icon>bookmark</mat-icon>
</button>
<mat-divider></mat-divider>

<button mat-mini-fab>
  <mat-icon>delete</mat-icon>
</button>
<button mat-mini-fab color="accent">
  <mat-icon>bookmark</mat-icon>
</button>
