.drawer-container {
  height: 100vh;
}

.drawer {
  width: 200px;
  background-color: #f2f2f2;
}

.nav-toggle {
  padding-top: 0.1rem;
  padding-bottom: 0.7rem;
  padding-right: 0.4rem;
  padding-left: 0rem;
  position: fixed;
  z-index: 2;
  color: #fff;
  display: inherit;
}
.nav-icon {
  font-size: 2rem;
}
.nav-for-pc {
  display: none;
}

/* Media for PC */
@media only screen and (min-width: 767px) {
  .nav-toggle {
    display: none;
  }
  .nav-for-pc {
    display: flex;
  }
}
