<div class="vid-container">
  <video class="videoTest" autoplay loop="true">
    <source [src]="'assets/vids/homeVid1.mp4'" type="video/mp4" />
  </video>
</div>
<div class="description">
  <h1>This is a title</h1>
  <p>
    a small description here (Lorem ipsum dolor sit amet,
    <br />
    consectetur adipisicing elit. Quis, veritatis! Lorem <br />
    ipsum dolor sit, amet consectetur adipisicing elit.
  </p>
  <div class="buttons">
    <button mat-raised-button>Button 1</button>
    <button mat-raised-button color="accent">Button 2</button>
  </div>
</div>
